/* Add a black background color to the top navigation */
.topnav {
  background-color: #592E83;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #CAA8F5;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9984D4;
  color: white;
}

/*Codes the text to the right*/
.topnav p {
  float: right;
  font-size: 17px;
  color: white;
  padding-right: 1rem;
}

/* Body tag edits anything to do with the Body */
 body {
   background-image: url("images/128-193.jpg")
 }
